In [68]:
# Import the dependencies.
import pandas as pd
import json
import pandas.io.json as pd_json
import censusdata
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

# Import the requests library.
import requests

api_key = "24f7bba880a1af36816cec59796a7e4f07da5789"

In [106]:
# Import ACS Data Profile variables
dp_var_url = "https://api.census.gov/data/2018/acs/acs5/profile/variables.json"
dp_acs_vars = requests.get(dp_var_url).json()
dp_acs_vars = dp_acs_vars["variables"]

dp_vars_df = pd.DataFrame.from_dict(dp_acs_vars, orient = 'index')
dp_vars_df.index.name = 'code'
dp_vars_df

,label,concept,predicateType,group,limit,predicateOnly,attributes,required
code,,,,,,,,
for,Census API FIPS 'for' clause,Census API Geography Specification,fips-for,N/A,0,True,NaN,NaN
in,Census API FIPS 'in' clause,Census API Geography Specification,fips-in,N/A,0,True,NaN,NaN
ucgid,Uniform Census Geography Identifier clause,Census API Geography Specification,ucgid,N/A,0,True,NaN,NaN
DP02_0126E,Estimate!!ANCESTRY!!Total population!!Danish,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,NaN,"DP02_0126EA,DP02_0126M,DP02_0126MA",NaN
DP05_0050PE,Percent Estimate!!RACE!!Total population!!One ...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,float,DP05,0,NaN,"DP05_0050PM,DP05_0050PMA,DP05_0050PEA",NaN
...,...,...,...,...,...,...,...,...
DP02PR_0001PE,Percent Estimate!!HOUSEHOLDS BY TYPE!!Total ho...,SELECTED SOCIAL CHARACTERISTICS IN PUERTO RICO,int,DP02PR,0,NaN,"DP02PR_0001PEA,DP02PR_0001PM,DP02PR_0001PMA",NaN
DP03_0039PE,Percent Estimate!!INDUSTRY!!Civilian employed ...,SELECTED ECONOMIC CHARACTERISTICS,float,DP03,0,NaN,"DP03_0039PM,DP03_0039PMA,DP03_0039PEA",NaN
DP02_0098E,Estimate!!YEAR OF ENTRY!!Population born outsi...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,NaN,"DP02_0098M,DP02_0098MA,DP02_0098EA",NaN
DP04_0095PE,Percent Estimate!!SELECTED MONTHLY OWNER COSTS...,SELECTED HOUSING CHARACTERISTICS,float,DP04,0,NaN,"DP04_0095PM,DP04_0095PMA,DP04_0095PEA",NaN
DP02_0036PE,Percent Estimate!!FERTILITY!!Number of women 1...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,int,DP02,0,NaN,"DP02_0036PEA,DP02_0036PM,DP02_0036PMA",NaN

In [107]:
#Import ACS Detail variables
b_var_url = "https://api.census.gov/data/2018/acs/acs5/variables.json"
b_acs_vars = requests.get(b_var_url).json()
b_acs_vars = b_acs_vars["variables"]

b_vars_df = pd.DataFrame.from_dict(b_acs_vars, orient = 'index')
b_vars_df.index.name = 'code'
b_vars_df

,label,concept,predicateType,group,limit,predicateOnly,attributes,required
code,,,,,,,,
for,Census API FIPS 'for' clause,Census API Geography Specification,fips-for,N/A,0,True,NaN,NaN
in,Census API FIPS 'in' clause,Census API Geography Specification,fips-in,N/A,0,True,NaN,NaN
ucgid,Uniform Census Geography Identifier clause,Census API Geography Specification,ucgid,N/A,0,True,NaN,NaN
B24022_060E,Estimate!!Total!!Female!!Service occupations!!...,SEX BY OCCUPATION AND MEDIAN EARNINGS IN THE P...,int,B24022,0,NaN,"B24022_060M,B24022_060MA,B24022_060EA",NaN
B19001B_014E,"Estimate!!Total!!$100,000 to $124,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19001B,0,NaN,"B19001B_014M,B19001B_014MA,B19001B_014EA",NaN
...,...,...,...,...,...,...,...,...
B20005I_071E,"Estimate!!Total!!Female!!Worked full-time, yea...",SEX BY WORK EXPERIENCE IN THE PAST 12 MONTHS B...,int,B20005I,0,NaN,"B20005I_071M,B20005I_071MA,B20005I_071EA",NaN
B25124_022E,Estimate!!Total!!Owner occupied!!3-person hous...,TENURE BY HOUSEHOLD SIZE BY UNITS IN STRUCTURE,int,B25124,0,NaN,"B25124_022M,B25124_022MA,B25124_022EA",NaN
B08113_054E,Estimate!!Total!!Worked at home!!Speak other l...,MEANS OF TRANSPORTATION TO WORK BY LANGUAGE SP...,int,B08113,0,NaN,"B08113_054EA,B08113_054M,B08113_054MA",NaN
B05009_012E,Estimate!!Total!!Under 6 years!!Living with tw...,AGE AND NATIVITY OF OWN CHILDREN UNDER 18 YEAR...,int,B05009,0,NaN,"B05009_012EA,B05009_012M,B05009_012MA",NaN
B06009_006E,Estimate!!Total!!Graduate or professional degree,PLACE OF BIRTH BY EDUCATIONAL ATTAINMENT IN TH...,int,B06009,0,NaN,"B06009_006EA,B06009_006M,B06009_006MA",NaN

Variable list:

- DP02_0001E = Number of households
- DP02_0015E = Average Household size
- DP04_0001E = Number of housing units

In [125]:
# URL for ACS Data Profile call
dp_var_list = ["DP02_0001E", "DP02_0015E", "DP03_0001E",
               "DP04_0001E", "DP04_0050E"]

dp_url_start = "https://api.census.gov/data/2018/acs/acs5/profile?get=NAME"
dp_url_end =  "&for=county:*&in=state:*&key=" + api_key

dp_url = dp_url_start

for var in dp_var_list:
    dp_url = dp_url + ',' + var

dp_url = dp_url + dp_url_end

print(dp_url)

https://api.census.gov/data/2018/acs/acs5/profile?get=NAME,DP02_0001E,DP02_0015E,DP03_0001E,DP04_0001E,DP04_0050E&for=county:*&in=state:*&key=24f7bba880a1af36816cec59796a7e4f07da5789

In [126]:
# URL for ACS Detail call
b_var_list = ["B19013_001E"]

b_url_start = "https://api.census.gov/data/2018/acs/acs5?get=NAME"
b_url_end =  "&for=county:*&in=state:*&key=" + api_key

b_url = b_url_start

for var in b_var_list:
    b_url = b_url + ',' + var

b_url = b_url + b_url_end

print(b_url)

https://api.census.gov/data/2018/acs/acs5?get=NAME,B19013_001E&for=county:*&in=state:*&key=24f7bba880a1af36816cec59796a7e4f07da5789

In [127]:
#Print variable code names
dp_codes = []
b_codes = []

for var in dp_var_list:
    dp_codes.append(dp_vars_df.loc[var, 'label'])

for var in b_var_list:
    b_codes.append(b_vars_df.loc[var, 'label'])
    
print(dp_codes, b_codes)

['Estimate!!HOUSEHOLDS BY TYPE!!Total households', 'Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Average household size', 'Estimate!!EMPLOYMENT STATUS!!Population 16 years and over', 'Estimate!!HOUSING OCCUPANCY!!Total housing units', 'Estimate!!YEAR HOUSEHOLDER MOVED INTO UNIT!!Occupied housing units'] ['Estimate!!Median household income in the past 12 months (in 2018 inflation-adjusted dollars)']

In [128]:
# Request the Data Profile table
dp_call = requests.get(dp_url).json()
dp_df = pd.DataFrame(dp_call[1:len(dp_call)], columns = dp_call[0], dtype = float)
dp_df

,NAME,DP02_0001E,DP02_0015E,DP03_0001E,DP04_0001E,DP04_0050E,state,county
0,"Washington County, Mississippi",18299.0,2.54,36109.0,21591.0,18299.0,28.0,151.0
1,"Perry County, Mississippi",4563.0,2.61,9508.0,5620.0,4563.0,28.0,111.0
2,"Choctaw County, Mississippi",3164.0,2.58,6718.0,4200.0,3164.0,28.0,19.0
3,"Itawamba County, Mississippi",8706.0,2.57,18949.0,10289.0,8706.0,28.0,57.0
4,"Carroll County, Mississippi",3658.0,2.72,8404.0,5154.0,3658.0,28.0,15.0
...,...,...,...,...,...,...,...,...
3215,"Clayton County, Iowa",7652.0,2.27,14243.0,9099.0,7652.0,19.0,43.0
3216,"Buena Vista County, Iowa",7550.0,2.55,15640.0,8296.0,7550.0,19.0,21.0
3217,"Guthrie County, Iowa",4397.0,2.39,8530.0,5786.0,4397.0,19.0,77.0
3218,"Humboldt County, Iowa",4221.0,2.24,7572.0,4729.0,4221.0,19.0,91.0
3219,"Washington County, Iowa",8720.0,2.50,17296.0,9686.0,8720.0,19.0,183.0

In [124]:
# Request the Detail table
b_call = requests.get(b_url).json()
b_df = pd.DataFrame(b_call[1:len(b_call)], columns = b_call[0], dtype = float)
b_df

                                NAME  B19013_001E  state  county
0     Washington County, Mississippi      30834.0   28.0   151.0
1          Perry County, Mississippi      39007.0   28.0   111.0
2        Choctaw County, Mississippi      37203.0   28.0    19.0
3       Itawamba County, Mississippi      40510.0   28.0    57.0
4        Carroll County, Mississippi      43060.0   28.0    15.0
...                              ...          ...    ...     ...
3215            Clayton County, Iowa      52828.0   19.0    43.0
3216        Buena Vista County, Iowa      54556.0   19.0    21.0
3217            Guthrie County, Iowa      57075.0   19.0    77.0
3218           Humboldt County, Iowa      52219.0   19.0    91.0
3219         Washington County, Iowa      61769.0   19.0   183.0

[3220 rows x 4 columns]

In [130]:
# Merge the ACS tables
acs_df = dp_df.merge(b_df, left_on = ['NAME', 'state', 'county'], right_on = ['NAME', 'state', 'county'])
acs_df

,NAME,DP02_0001E,DP02_0015E,DP03_0001E,DP04_0001E,DP04_0050E,state,county,B19013_001E
0,"Washington County, Mississippi",18299.0,2.54,36109.0,21591.0,18299.0,28.0,151.0,30834.0
1,"Perry County, Mississippi",4563.0,2.61,9508.0,5620.0,4563.0,28.0,111.0,39007.0
2,"Choctaw County, Mississippi",3164.0,2.58,6718.0,4200.0,3164.0,28.0,19.0,37203.0
3,"Itawamba County, Mississippi",8706.0,2.57,18949.0,10289.0,8706.0,28.0,57.0,40510.0
4,"Carroll County, Mississippi",3658.0,2.72,8404.0,5154.0,3658.0,28.0,15.0,43060.0
...,...,...,...,...,...,...,...,...,...
3215,"Clayton County, Iowa",7652.0,2.27,14243.0,9099.0,7652.0,19.0,43.0,52828.0
3216,"Buena Vista County, Iowa",7550.0,2.55,15640.0,8296.0,7550.0,19.0,21.0,54556.0
3217,"Guthrie County, Iowa",4397.0,2.39,8530.0,5786.0,4397.0,19.0,77.0,57075.0
3218,"Humboldt County, Iowa",4221.0,2.24,7572.0,4729.0,4221.0,19.0,91.0,52219.0
3219,"Washington County, Iowa",8720.0,2.50,17296.0,9686.0,8720.0,19.0,183.0,61769.0

In [131]:
# Import ZRI data set
zillow_df = pd.read_csv("County_Zri_AllHomesPlusMultifamily_Summary.csv", encoding='latin-1')
zillow_df = zillow_df.rename(columns = {"State": "Code"})
zillow_df

,Date,RegionName,Code,Metro,SizeRank,Zri,MoM,QoQ,YoY,ZriRecordCnt
0,2020-01-31,Los Angeles County,CA,Los Angeles-Long Beach-Anaheim,0,2624,-0.0012,0.0062,0.0206,2319196
1,2020-01-31,Cook County,IL,Chicago-Naperville-Elgin,1,1600,-0.0197,-0.0092,0.0052,1697863
2,2020-01-31,Harris County,TX,Houston-The Woodlands-Sugar Land,2,1382,-0.0041,0.0093,0.0084,1374478
3,2020-01-31,Maricopa County,AZ,Phoenix-Mesa-Scottsdale,3,1470,-0.0008,0.0145,0.0801,1529858
4,2020-01-31,San Diego County,CA,San Diego-Carlsbad,4,2559,0.0053,0.0049,0.0421,912320
...,...,...,...,...,...,...,...,...,...,...
2102,2020-01-31,Highland County,VA,NaN,2102,1281,0.0107,0.0066,0.0499,1521
2103,2020-01-31,Dolores County,CO,NaN,2103,1465,0.0231,0.0312,0.0870,1259
2104,2020-01-31,Garden County,NE,NaN,2104,857,0.0118,0.0051,-0.0368,1042
2105,2020-01-31,Gilliam County,OR,NaN,2105,1445,-0.0117,0.0595,0.0801,1230
2106,2020-01-31,Alpine County,CA,NaN,2106,1899,-0.0098,-0.0113,-0.0055,1203

In [132]:
# Pull in post code conversion table
post_df = pd.read_csv('post_codes.csv')
post_df

zri_df = zillow_df.merge(post_df, left_on = "Code", right_on = "Code")
zri_df['NAME'] = zri_df['RegionName'] + ", " + zri_df['State']
zri_df = zri_df.drop(['Date', 'RegionName', 'Code', 'Metro', 'SizeRank', "MoM", 'QoQ', 'YoY', 'ZriRecordCnt', 'State', 'Abbrev'], 1)
zri_df

       Zri                               NAME
0     2624     Los Angeles County, California
1     2559       San Diego County, California
2     2694          Orange County, California
3     2081       Riverside County, California
4     1766  San Bernardino County, California
...    ...                                ...
2102  1634           Franklin County, Vermont
2103  1650            Addison County, Vermont
2104  1365          Caledonia County, Vermont
2105  1438             Orange County, Vermont
2106  1357            Orleans County, Vermont

[2107 rows x 2 columns]

#### !!Need to investigate counties that get dropped during the merge

In [133]:
merge_df = acs_df.merge(zri_df, left_on = 'NAME', right_on = 'NAME').drop(['NAME', 'state', 'county'], 1)
merge_df

,DP02_0001E,DP02_0015E,DP03_0001E,DP04_0001E,DP04_0050E,B19013_001E,Zri
0,4563.0,2.61,9508.0,5620.0,4563.0,39007.0,951
1,3164.0,2.58,6718.0,4200.0,3164.0,37203.0,921
2,8224.0,2.54,16882.0,10240.0,8224.0,36877.0,913
3,4172.0,2.45,11370.0,5216.0,4172.0,49447.0,954
4,22213.0,2.74,47528.0,24580.0,22213.0,58188.0,999
...,...,...,...,...,...,...,...
2038,7652.0,2.27,14243.0,9099.0,7652.0,52828.0,854
2039,7550.0,2.55,15640.0,8296.0,7550.0,54556.0,861
2040,4397.0,2.39,8530.0,5786.0,4397.0,57075.0,877
2041,4221.0,2.24,7572.0,4729.0,4221.0,52219.0,802
2042,8720.0,2.50,17296.0,9686.0,8720.0,61769.0,928

In [84]:
# Split our preprocessed data into our features and target arrays
y = merge_df["Zri"].values
X = merge_df.drop(["Zri"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [83]:
# Create a StandardScaler instance
#scaler = StandardScaler()

# Fit the StandardScaler
#X_scaler = scaler.fit(X_train)
#y_scaler = scaler.fit(y_train)

# Scale the data
#X_train_scaled = X_scaler.transform(X_train)
#X_test_scaled = X_scaler.transform(X_test)
#y_train_scaled = y_scaler.transform(y_train)
#y_test_scaled = y_scaler.transform(y_test)

ValueError: Expected 2D array, got 1D array instead:
array=[1584. 3287. 1206. ... 1278. 1176. 1198.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [81]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LinearRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_train_scaled, y_train)

C:\Users\raywh\Anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [85]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
print("Accuracy Score")
balanced_accuracy_score(y_test, y_pred)

Accuracy Score

C:\Users\raywh\Anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1859: UserWarning: y_pred contains classes not in y_true
  warnings.warn('y_pred contains classes not in y_true')

0.0